<div class="carousel-container">
  <div class="weather__card">
    <div class="carousel-container__all">
    <div class="carousel-container__lf">

    <div class="weather__card__element">
      <span class="weather__card__icon"><fa-icon [icon]="faCloud"></fa-icon></span>
      <span class="weather__card__label">{{'WEATHER.CLOUDS' | translate}} </span>
      <span class="weather__card__value">{{weather.clouds.all}}</span>
    </div>
    <div class="weather__card__element">
      <span class="weather__card__icon"><fa-icon [icon]="faTemperatureHigh"></fa-icon></span>
      <span class="weather__card__label">{{'WEATHER.FEELS_LIKE' | translate}}</span>
      <span class="weather__card__value">{{weather.main.feels_like}}</span>
    </div>
    <div class="weather__card__element">
      <span class="weather__card__icon"><fa-icon [icon]="faCloudRain"></fa-icon></span>
      <span class="weather__card__label">{{'WEATHER.HUMIDITY' | translate}} </span>
      <span class="weather__card__label">{{weather.main.humidity}}%</span>
    </div>
    <div class="weather__card__element">
      <span class="weather__card__icon"><fa-icon [icon]="faAngleDoubleDown"></fa-icon></span>
      <span class="weather__card__label">{{'WEATHER.PRESSURE' | translate}}</span>
      <span class="weather__card__value">{{weather.main.pressure}} mbar</span>
    </div>
    <div class="weather__card__element">
        <span class="weather__card__icon"><fa-icon [icon]="faTemperatureHigh"></fa-icon></span>
        <span class="weather__card__label">{{'WEATHER.TEMP_AVER' | translate}}</span>
        <span class="weather__card__value">{{weather.main.temp}}</span>
    </div>
    <div class="weather__card__element">
        <span class="weather__card__icon"><fa-icon [icon]="faWind"></fa-icon></span>
        <span class="weather__card__label">{{'WEATHER.WIND' | translate}}</span>
        <span class="weather__card__value">{{weather.wind.speed}} {{'WEATHER.SPEED_UNIT' | translate}} </span>
    </div>
</div>

<div class="carousel-container__rt">
<div class="weather__card__element">
  <div class="weather__short" *ngFor="let item of weather.weather">
    <div class="weather__short__city">{{cityWeather}}</div>
    <div class="weather__short__date">
        <span class="weather__card__icon"><fa-icon [icon]="faCalendar"></fa-icon></span>
        <span class="weather__card__value">{{weather.dt_txt | dateOnly }}</span>
      </div>
      <div class="weather__short__desc">
        {{item.description}}
      </div>
      <div class="weather__short__icon">
          <img [src]="getImgPath(item.icon)">
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>
