@import '../../../../variables.scss';

.searchbar_continer {
  padding: 1rem 5.5rem;

  .searchbar {
    &__group {
      display: flex;
      padding: 0rem;
      margin: 0rem;
      width: 47%;

      .search-btn--primary {
        color: $color-primary-dark;
        background-color: $color-white;
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
      }

      .search-btn--primary:hover {
        opacity: 85%;
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        transition: ease-in 0.1s;
        transform: translateY(-0.15rem) scale(1.01);

      }
      .search-btn--primary:active {
        opacity: 100%;
        transform: translateY(+0.15rem) scale(1.00);
        background-color: $color-primary-dark;
        color: $color-white
      }

      .search-btn--silver {
        color: $color-grey-light-2;
      }

      &__loop {
        padding: .4rem 0.5rem;
        margin: 0 .7rem;
        width: 10%;
        height: 100%;
        border-radius: 0.5rem;
        font-size: 2.5rem;
        text-align: center;

      }

      &__search {
        padding: 0rem;
        margin: 0rem;
        width: 80%;
      }
    }
  }
}


.form__input {
  border-radius: 0.5rem;
  display: block;
  padding: 1.0rem 1rem;
  border: none;
  width: 100%;
  border-bottom: 3px solid transparent;
  font-size: 2rem;
  transition: all .8s;
  justify-content: center;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid $color-primary-dark;

}

