@import '../../../variables.scss';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();


.carousel-container {

    width: 70vw;
    height: 45vh;
    margin: 1rem auto;
    display: flex;

    &__slider{
      width: 70%;

      &__content {
        display: block;
      }
    }

  &__ch {
    width: 40%;
    height: 100%;
  }
}

:host ::ng-deep{

  .igx-carousel{
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot{
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
    }

    .igx-slide img{
        object-fit: fill;
        max-width: 90%;
    }

}
.weather__details {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

    @keyframes moveInBottom {
      0% {
        opacity: 0;
        transform: translateY(3rem);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
