<div class="footer__container">
  <div class="footer__container__header__logo">
    {{'HEADER.SYSTEM_NAME' | translate}}
  </div>
  <div class="footer__container__information_menu">
    information menu
  </div>
  <div class="footer__container__settings">
    <div class="footer__container__thema__box">
      <div class="footer__container__thema__icon"><fa-icon [icon]="faCoffee"></fa-icon></div>
      <div class="footer__container__thema__icon"><fa-icon [icon]="faHeartbeat"></fa-icon></div>
      <div class="footer__container__thema__icon"><fa-icon [icon]="faCommentAlt"></fa-icon></div>
      <div class="footer__container__thema__icon"><fa-icon [icon]="faRunning"></fa-icon></div>
      <div class="footer__container__thema__icon"><a routerLink="goals"  routerLinkActive="active"><fa-icon [icon]="faAtom"></fa-icon></a></div>
      <div class="footer__container__thema__icon"><fa-icon [icon]="faBookMedical"></fa-icon></div>
      <div class="footer__container__thema__icon"><fa-icon [icon]="faTshirt"></fa-icon></div>
      <div class="footer__container__thema__icon"><a [routerLink]="['/weather-forecast']"><fa-icon [icon]="faCloudSunRain"></fa-icon></a></div>
    </div>
  </div>
  <div class="footer__container__copyright">
  {{'LOGINFORM.FOOTER.COPYRIGHT' | translate}}
  </div>
  <div class="footer__container__contact_details">

  </div>
</div>
